<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Talk Make A Post</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        body {
            text-align: center;
        }
        .card {
            width: 300px;
            margin:0 auto;
            margin-bottom: 10px;
        }
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <br />
    <h2>Make a post</h2>
    <br />
    <textarea id="postBody" name="postBody" maxlength="132" rows="3" cols="70" placeholder="Start typing"></textarea>
    <br /><br />
    <p>Text Color</p>
    <input type="color" id="textColor" value="#000000"><br /><br />
    <p>Background Color</p>
    <input type="color" id="bgColor" value="#ffffff"><br /><br />
    <br />
    <button id="previewPost" name="previewPost">Preview</button>
    <br />
    <br />
    <div id="previewSection" class="previewSection"></div>
    <br />
    <button name="submitPost" type="submit" value="0">Post</button>
    <script>
        document.getElementById("previewPost").onclick = function() {
            let textColor = document.getElementById("textColor").value;
            let bgColor = document.getElementById("bgColor").value;
            let postContent = document.getElementById('postBody').value;
            let username = "TestUsername";
            let previewCode = "<div class='card border-secondary mb-3' style='width: 500px;'><div class='card-body text-secondary' style='background-color: "+bgColor+"'><p class='card-text' style='color: "+textColor+"; text-align: left;'>"+postContent+"</p><h6 class='card-text' style='color: "+textColor+"; text-align: left;'>"+username+"</h6></div></div>";
            document.getElementById('previewSection').innerHTML = previewCode;
        }
    </script>
    <div id="cookiesBox"></div>
    <script>
        function saveData(fileName, info) {
            localStorage.setItem(fileName, info);
        }

        function getData(fileName) {
            let data = localStorage.getItem(fileName);
            return data;
        }

        function acceptCookies() {
            saveData("cookiesAccepted", true);
            document.getElementById("cookiesBox").innerHTML = "";
        }

        let cookiesAccepted = getData("cookiesAccepted");

        if (cookiesAccepted == null) {
            document.getElementById("cookiesBox").innerHTML = "<div style='position: fixed; height: 130px; background-color: #9a9a9a;  bottom: 0px; left: 0px; right: 0px; margin-bottom: 0px;'><p style='margin-top: 10px;'>We use cookies to keep track of user information, such as being logged in.</p><p>Click accept if you understand and agree to use cookies on this site.</p><input type='button' value='Accept' onclick='acceptCookies()'></div>";
        }
    </script>
</body>
</html>