<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Talk Homepage</title>
</head>
<h1>Simple Talk</h1>
<body>
    <p>Simply say what you want to say!</p>
    <p th:text="${post}" />

    <form action="#" th:action="@{/savePost}" th:object="${post}" method="GET">
        <label>PostID</label><input type="text" name="postID" th:field="*{postID}"/>
        <label>UserID</label><input type="text" name="userID" th:field="*{userID}"/>
        <label>UserName</label><input type="text" name="userName" th:field="*{userName}"/>
        <label>Message</label><input type="text" name="message" th:field="*{message}"/>
        <label>Likes</label><input type="text" name="likes" th:field="*{likes}"/>
        <button name="button" type="submit" value="0">Post</button>
    </form>
</body>
</html>